<article class='wrapper'>
    <div class='toSee_Movie'>
      <img src="/images/categories/purple_Movie.png"
        <p>Movies</p>
    </div>
    <div class='toRead_Book'>
      <img src="/images/categories/pink_book.png"
        <p>Books</p>
    </div>
    <div class='toBuy_Product'>
      <img src="/images/categories/orange_product.png">
        <p>Products</p>
    </div>
    <div class='toEat_Restaurant'>
    <div class='flex'>
    <img src="/images/categories/blue_restaurant.png">
        <p>Restaurants</p>
    </div>
    </div>
</article>
