
<div class='categories-panel'>
  <div class='top'>
    <div class='categories-card'>
      <a href="/category/movies">
      <img class='categories-icon' src="/images/categories/purple_Movie.png">
      <p>Movies</p>
      </a>
    </div>
    <div class='categories-card'>
      <a href="/category/books">
      <img class='categories-icon'src="/images/categories/pink_book.png">
      <p>Books</p>
      </a>
    </div>
  </div>
  <div class='bottom'>
    <div class='categories-card'>
      <a href="/category/products">
      <img class='categories-icon'src="/images/categories/orange_product.png">
      <p>Products</p>
      </a>
    </div>
    <div class='categories-card'>
      <a href="/category/restaurants">
      <img class='categories-icon'class='categories' src="/images/categories/blue_restaurant.png">
      <p>Restaurants</p>
      </a>
    </div>
    </div>
  </div>
</div>
