<article class='wrapper'>
    <a href="/category/movies" class='toSee_Movie'>
      <img class='categories'src="/images/categories/purple_Movie.png">
        <p>Movies</p>
    </a>
    <a href="/category/books" class='toRead_Book'>
      <img class='categories'src="/images/categories/pink_book.png">
        <p>Books</p>
    </a>
    <a href="/category/products" class='toBuy_Product'>
        <div class='categories_icon'>
      <img class='categories'src="/images/categories/orange_product.png">
        <p>Products</p>
        </div>
      </a>
    <a href="/category/restaurants" class='toEat_Restaurants'>
    <div class='categories_icon'>
    <img class='categories' src="/images/categories/blue_restaurant.png">
        <p>Restaurants</p>
    </div>
   </a>
</article>
