<article class='wrapper'>
  <%# <div class='wrapper'> %>
      <div class='toSee_Movie'>
          <p>Movies</p>
      </div>
      <div class='toRead_Book'>
        <p>Books</p>
      </div>
      <div class='toEat_Restaurant'>
        <p>Restaurants</p>
     </div>
     <div class='toBuy_Product'>
        <p>Products</p>
     </div>
  <%# </div> %>
</article>
