<header>
  <%# <nav class="d-flex flex-row justify-content-end align-items-center"> %>
  <nav>
  <img src="../images/check-main-logo-White.png" alt='home' id='home'>
  <img src='../images/lists-white.png' alt='lists' id='lists'>
  </nav>
  <div class='user-Info'>
      <p class="user">Marion</p>
      <img src="../images/female-avatar.png" alt='user' id='avatar'/>
  </div>
</header>
