<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/bootstrap.min.css" type="text/css" />

    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
    <h1>Add Item: <%= term %></h1>
    <h2>Select category</h2>
   
    <form method="POST" action="/add_item">
      <input type="hidden" name="term" value="<%= term %>" />
      <label>
        <input type="text" name="category" value="1" />
        Movies
      </label>
      <label>
        <input type="text" name="category" value="2" />
        Books
      </label>
      <label>
        <input type="text" name="category" value="3" />
        Products
      </label>
      <label>
        <input type="text" name="category" value="4" />
        Restaurants
      </label>
      <button type="submit" class="btn btn-primary">Submit</button>




    </form>
  </body>
</html>
