<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/bootstrap.min.css" type="text/css" />

    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/home.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
   <% include partials/_header %>
     <p>Item</p>

  <% include partials/_categories_cards %>

    <form method="POST" action="/add_item">
    <textarea id='toDoListItem' name="term" placeholder="Add item ..."></textarea>
        <button type="submit" class="btn btn-light btn-lg">
            Submit
        </button>
    </form>

  </body>
</html>
