<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/bootstrap.min.css" type="text/css" />

    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/home.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
  <!-- PARTIALS -->
   <% include partials/_header %>
    

  <% include partials/_categories_cards %>

    <form method="POST" action="/select_category">
    <textarea id='toDoListItem' name="term" placeholder="+"></textarea>
        <button type="submit" class="btn btn-light btn-lg">
            Submit
        </button>
    </form>
  </body>
</html>
