//IMPORT PARTIALS

@import 'fonts';
@import 'colors';
@import 'mixins';



.categories-panel {
  @include category-card;
  margin: 2rem;

}

.top {
  @include category-card;
  // flex-direction: row;
  flex-direction: column;
}

.bottom {
  @include category-card;
  flex-direction: column;
  // flex-direction: row;
}

.categories-card {
  @include category-card;
  @include card-background;

  .categories-icon {
    width: 75%;
    margin: 0 auto;
    margin-left: 12%;
  }

  p {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
  }
}


/* Tablet: minimum width of 768px to maximum width of 1024px */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .top {
    @include category-card;
    flex-direction: row;
  }

  .bottom {
    @include category-card;
    flex-direction: row;
  }

}

/* Laptops / Desktops: minimum width of 1024px */
@media only screen and (min-width: 1024px) {

  .categories-panel {
    flex-direction: row;
  }

  .top {
    @include category-card;
    flex-direction: row;
  }

  .bottom {
    @include category-card;
    flex-direction: row;
  }

  .categories-card {
    //  width:100%;
  }
}
