/* Colours */

/* ================================
=              Colours            =
================================ */

$darkPurple:#262338;
$purple:#392447;
$brightPurple: #792BF9;

$lavender:#8F50FF;
$lightLavender: #AE83FF;

$pink: #FF50BC;
$lightPink: #FF7FCC;

$orange: #FF955F;
$lightOrange: #FFC86A;

$brightBlue: #064BFF;
$lightBrightBlue: #277DFF;
