/* Typography */
/* ================================
=        Import Font Family       =
================================ */
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap");
/* Colours */
/* ================================
=              Colours            =
================================ */
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap");
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom, #392447, #792BF9);
  height: 6.0rem;
  font-family: 'Lato', sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#home {
  width: 35px;
  margin-left: 1rem;
}

#lists {
  width: 35px;
  margin-left: 3rem;
}

div.user-Info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#avatar {
  width: 65px;
  margin-left: 1rem;
  margin-right: 1.5rem;
}

p.user {
  font-weight: bolder;
  font-size: 24px;
  margin: 0;
  color: #FFFFFF;
}

/* Typography */
/* ================================
=        Import Font Family       =
================================ */
/* Colours */
/* ================================
=              Colours            =
================================ */
article.wrapper {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: minmax(100px, auto);
  font-size: 30px;
}

article.wrapper .categories {
  width: 150px;
}

article.wrapper .toSee_Movie {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 20px;
  max-width: 300px;
}

article.wrapper .toSee_Movie img {
  width: 150px;
}

article.wrapper .toRead_Book {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 20px;
  max-width: 300px;
}

article.wrapper .toRead_Book img {
  width: 150px;
}

article.wrapper .toBuy_Product {
  grid-column: 1;
  grid-row: 2;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 20px;
  max-width: 300px;
}

article.wrapper .toBuy_Product .categories_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

article.wrapper .toBuy_Product .categories_icon img {
  width: 150px;
}

article.wrapper .toEat_Restaurants {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 20px;
  max-width: 300px;
}

article.wrapper .toEat_Restaurants img {
  width: 150px;
}

.right {
  grid-row: 2;
}

.left {
  grid-row: 1;
}

.top {
  grid-column: 1;
}

.bottom {
  grid-column: 2;
}

body {
  background-color: #392447;
}

body form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  width: 68vw;
  border-radius: 20px;
}

body form textarea#toDoListItem {
  margin-bottom: 1rem;
  border-radius: 10px;
}

body form ::placeholder {
  color: #792BF9;
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
  background-color: #AE83FF;
}

p {
  color: #FFFFFF;
}
