// IMPORT PARTIALS
@import './partials/header';
@import './partials/categories_cards';

body {
  background-color: $purple;
  // $purple;

  // test
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    width: 68vw;
    border-radius: 20px;

    textarea#toDoListItem {
      margin-bottom: 1rem;
      border-radius: 10px;
    }

    ::placeholder {
      color: $brightPurple;
      font-weight: bolder;
      font-size: 2rem;
      text-align: center;
      background-color: $lightLavender;
    }

  }
}

p {
  color: #FFFFFF;
}